
    <form (submit)="submit()" #LoginForm="ngForm" >
        <h3>Register</h3>
        <div>
            <label for="email">Email</label>
            <input type="email"
             id="email" name="email"
             placeholder="Email Address" 
             [(ngModel)]="form.email" #email="ngModel" required="">
        </div>
        <div class="v"  *ngIf="email.invalid && (email.dirty || email.touched)">
          *  Email field must be valid
        </div>
        <div>
            <label for="pwd">Password</label>
            <input type="password" id="pwd" placeholder="Password"[(ngModel)]="form.password" name="password" #password="ngModel" required>
        </div>
        <div class="v" *ngIf="password.invalid && (password.dirty || password.touched)">
          *  Password field must be valid
        </div>
        <div>
            <label for="confirm_password">Confirm Password</label>
            <input type="password" id="confirm_password" placeholder="Confirm Password"[(ngModel)]="form.confirm_password" name="confirm_password" #confirm_password="ngModel" required>
        </div>
        <div class="v" *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)">
           * Confirmed Pass field must be valid
        </div>

        <div>
            <input type="submit" class="submit"  value="register" [disabled]="LoginForm.form.invalid" >
        </div>
    </form>
