<div class="content">
    <div class="full-page">
        <form (submit)="submit()" #LoginForm="ngForm">
            <input type="email" id="email" name="email" placeholder="Email Address" [(ngModel)]="form.email"
                #email="ngModel" required>

            <input type="password" id="pwd" placeholder="Password" [(ngModel)]="form.password" name="password"
                #password="ngModel" required>


            <input type="password" id="confirm_password" placeholder="Confirm Password"
                [(ngModel)]="form.confirm_password" name="confirm_password" #confirm_password="ngModel" required>

            <button class="submit">login</button>


            <p class="message">Not registered?
                <a routerLink="/login">Login</a>
            </p>
        </form>
    </div>
</div>