<div class="content">
   <div class="full-page">
      <form (submit)="addBook()" #BookForm="ngForm">

         <input type="text" id="name" [(ngModel)]="form.name" name="name" #name="ngModel" placeholder="enter book name"
            required>

         <input type="text" id="author" [(ngModel)]="form.author" name="author" #author="ngModel"
            placeholder="enter author" required>

         <input type="text" placeholder="enter book image link" id="image" name="image" [(ngModel)]="form.image"
            #image="ngModel" required>


         <input type="text" id="price" placeholder="enter book price" name="price" [(ngModel)]="form.price"
            #price="ngModel" required>

         <input type="text" id="amount" placeholder="amount of books" name="amount" [(ngModel)]="form.amount"
            #amount="ngModel" required>

         <input type="submit" class="submit" [disabled]="BookForm.form.invalid">

      </form>
   </div>
</div>