<nav class="nav">
    <div>
            <a routerLink="" >Book Shop</a>
    </div>
    <div>
        <ng-container *ngIf="isAuthenticated() || isLoggedIn">
            <a routerLink="/BookForm">Add Book</a>
            <a routerLink="/cart" >MyCart</a>
        </ng-container>
    
        <ng-container *ngIf="!isAuthenticated() && !isLoggedIn">
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Register</a>
        </ng-container>

        <ng-container  *ngIf="isAuthenticated() || isLoggedIn">
            <button (click)="logout()" class="a" >Log Out</button>
        </ng-container>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>